body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #b5076b;
  color: white;
}
.img{
  width: 50%;
  transform: rotate(30deg);
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem !important;
  font-weight: bold !important ;
}
.fluid-container{
  padding: 3% 15%;
}
.navbar{
  margin-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem !important;
    font-weight: bold;
}
.nav-item{
  padding: 0 10px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}
.btnn{
  margin: 5% 3% 5% 0;
}
#features{
  padding: 7% 15%;

}
.fb{
  text-align: center;
  padding:0% 10%;
}
.f{
  color: red;
  margin-bottom: 1rem;
}
.f:hover{
  color: green;
}
